$shadow-gradient: linear-gradient(120deg, transparent 40%, rgb(75, 74, 74));
$egg-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  

}

body {
    overflow: hidden;
}

.sky {
    position: relative;
    height: 60vh;
    width: 100%;
    position: top;
    background-image: linear-gradient(royalblue 60%, azure);
}

.ground {
    position: relative;
    height: 40vh;
    width: 100%;
    background-image: linear-gradient(rgb(1, 85, 1) 30%, green );
}

@mixin egg {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: $egg-radius;
    overflow: hidden;
    background-image: $shadow-gradient;
}

.egg1 { 
    @include egg;
    top: -30%;
    left: 50%;
    transform: translate(-80%,-80%);
    height: 270px;
    width: 200px;
    background-color: tomato;
    transform: rotate(20deg);
    z-index: 2;
    animation: egg1 2s infinite;
    
    .stripe {
        width: 100%;
        height: 45px;
        background-color: aqua;
        background-image: $shadow-gradient;
    }
}

.egg2 { 
    @include egg;
    top: -30%;
    left: 30%;
    transform: translate(-50%,-50%);
    height: 250px;
    width: 180px;
    background-color: yellow;
    transform: rotate(330deg);
    z-index: 1;
    animation: egg2 2s infinite;
    
    .stripe {
        width: 100%;
        height: 60px;
        background-color: rgb(132, 0, 255);
        background-image: $shadow-gradient;
    }

    .stripe--dots { 
        background-size: 40px 40px;
        background-image: radial-gradient(orange 19px, transparent 0px );
        background-position: 10px 10px;
    }

    .stripe--stripes {
        background-size: 20px 20px;
        background-image: linear-gradient(90deg, orange 10px, transparent 0px );

    }
}

.wishes { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-80%);
    font-family: 'Courgette', cursive;
    font-size: 70px;
    color: gold;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
    animation: wishes 3s ease-in;
}

@mixin shadow {
    position: absolute;
    width: 200px;
    height: 80px;
    background-color: rgb(2, 63, 2);
    border-radius: $egg-radius;
    animation: shadow 2s infinite;
    transform: rotate(350deg);
}

.shadow1 { 
    @include shadow;
    top: 50%;
    left: 50%;    
}

.shadow2 { 
    @include shadow;
    top: 40%;
    left: 35%;
}

@keyframes egg1 {
    0% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(50deg);
    }
    100% {
        transform: rotate(20deg);
    }

}

@keyframes egg2 {
    0% {
        transform: rotate(310deg);
    }
    50% {
        transform: rotate(350deg);
    }
    100% {
        transform: rotate(310deg);
    }

}

@keyframes wishes {
    0% {
        font-size: 30px;
        top: -100%;
    }

    50% {
        top: 50%;
    }
    
    100%{
        font-size: 70px;
    }
}

@keyframes shadow {
    0% {
        width: 150px;
    }

    50% {
        width: 300px;
    }

    100% {
        width: 150px;
    }
}

